<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>40 Minutes or Less Recipes</title>
</head>
<body>
    <h1>Recipes: 40 minutes or less!</h1>
    <table>
        <thead>
            <th>Recipe Name:</th>
            <th>Ingredients:</th>
            <th>Step-by-step Instructions:</th>
        </thead>
        <tbody>
            <!-- FOR LOOP HERE WITH DATA FROM QUERY -->
            <tr>
                <td>1</td>
                <td>2</td>
            </tr>
        </tbody>
    </table>    <form action="/success"> <button>Back to Dashboard</button></form>
</body>
</html>