<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Dashboard Page</title>
</head>

<body>
    <h2>Welcome, {{user.first_name}}!</h2>
    <section class="vh-100" style="background-color: #f4f5f7;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-6 mb-4 mb-lg-0">
                    <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="col-md-4 gradient-custom text-center text-white"
                                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                <img src="{{url_for('static', filename='/images/3364044.png')}}" alt="Avatar"
                                    class="img-fluid my-5" style="width: 80px;" />
                                <p>{{user.first_name}} {{user.last_name}}</p>
                                <p>{{user.email}}</p>
                                <a href="/edit_user_profile/{{user.id}}">Edit Profile</a>
                                <a href="/logout">Logout</a>
                                <i class="far fa-edit mb-5"></i>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                    <h6>{{user.first_name}}'s Recipes</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            {% for recipe in all_recipes.recipes %}
                                            <p>{{recipe.recipe_name}}</p>
                                            {% endfor %}
                                        </div>
                                        <div class="col-6 mb-3">
                                            <a href="/new_recipe">add recipe</a>
                                        </div>
                                    </div>
                                    <h6>Find A New Recipe</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        {% with messages = get_flashed_messages() %}
                                        {% if messages %}
                                        {% for message in messages %}
                                        <p style="color: rgb(170, 0, 0) ;">{{message}}</p>
                                        {% endfor %}
                                        {% endif %}
                                        {% endwith %}
                                        <form action="/find_recipe" method="post">
                                            <label for="How much time do you want to spend cooking?"></label>
                                            <input name="total_time" type="number" placeholder="time in minutes">
                                            <button type="submit">Search</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>













