<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/style.css') }}">
    <title>Dashboard Page</title>
</head>
<body>
    <div>
        <h1>Welcome, {{user.first_name}}!</h1>
        <form action="/logout"> <button>Logout</button></form>
        <div class="user_profile">
            <h3>User Profile</h3>
            <p>First Name: {{user.first_name}}</p>
            <p>Last Name: {{user.last_name}}</p>
            <p>Username: {{user.username}}</p>
            <p>Email Address: {{user.email}}</p>
            <form action="/edit_user_profile/{{user.id}}"><button>Edit Profile</button></form>
        </div>
        <div class="my_recipes">
            <H3>My Recipes</H3>
            {% for recipe in all_recipes.recipes %}
            <p>{{recipe.recipe_name}}</p>
            {% endfor %}
            
            <form action="/new_recipe"><button>Add a new Recipe</button></form>

        </div>
        <div class="find_recipe">
            <h3>Find a Recipe</h3>
            {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p style="color: rgb(170, 0, 0) ;">{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
            <form action="/find_recipe" method="post">
                <label for="How much time do you want to spend cooking?"></label>
                <input name="total_time" type="number" placeholder="time in minutes">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
</body>
</html>