* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url(../images/background.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.text-green{
    color:rgb(58, 133, 58)
}

.center-fit{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.login-reg-form{
    max-width: 600px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    border: 3px solid #f5a549;
}
.header{
    border-bottom: 3px solid #f5a549;
    display: flex;
    justify-content: space-between;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.center-link{
    font-size: medium;
    text-decoration: none;
    margin:auto;
}